// Phone
@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: calc(100% - 30px);
    max-width: 450px;
    height: auto;

    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition), scale var(--transition);

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  .close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    color: #000;
    background-color: var(--background-color);

    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: currentColor;
    }
  }
}

// tablet
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 450px;
    min-height: 609px;

    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition), scale var(--transition);

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  .close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    color: #000;
    background-color: var(--background-color);

    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: currentColor;
    }
  }
}
// desktop
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
