body {
  background-color: var(--background-color);
  color: var(--main-text-color);

  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.svg {
  fill: currentColor;
}
button {
  display: block;

  // margin: 0 auto;
  // padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: inherit;

  color: var(--background-color);
  background-color: var(--accent-color);
}
